@model PhoneApp.Models.Entry

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
<h2>@Model.Name's Phonebook</h2>

<br />
<ul>
    <li>Name: @Model.Name</li>
    <li>Phone Number: @Model.PhoneNumber</li>
</ul>

